@use '../forwards' as *;

.btn {
    display: inline-block;
    min-width: 200px;
    padding: 15px 20px;
    border-radius: 100vh;

    &--font {
        color: white;
        background-color: $cMain;

        &:after {
            margin-left: 10px;
            @include fontAwesome('\f0e0');
        }
    }
}