@use '../forwards' as *;

.h2 {
    &__main {
        margin-bottom: 15px;
        @include font(base, bold);
        font-size: rem(24px);

        @include mediaMin(sm) {
            font-size: rem(28px);
        }

        @include mediaMin(md) {
            font-size: rem(34px);
        }

        @include mediaMin(lg) {
            font-size: rem(40px);
        }

        @include mediaMin(xl) {
            font-size: rem(48px);
        }
    }

    &__sub {
        color: $cMain;
        @include font(accent, bold);
        line-height: 1;
    }
}